/**{
    margin: 0px;
    padding: 0px;

}*/

header{
    outline: 2px solid black;
}

header h1{
    display: inline-block;
    border-bottom: 1px black solid;
}

ng-view{
    width: 100%;
}

#wrapper{
    width: 100%;
}

.row{
    display: inline-flex;
    justify-content: space-between;

}

.row input{
    margin-left: auto;
    margin-right: auto;
}
input{
    background-color: inherit;
    width: 100px;
}
